@use './config.scss' as *;

html,body {
  background-color: $colorN;
  height: 100%;
}

#app {
  height: 100%;
}

.container{
  position: relative;
  padding: 0 60px;
  margin: 0 auto;
}

@media (min-width: 1260px) {
  .container {
    padding: 0 150px;
  }
}
@media (min-width: 2060px) {
  .container {
    padding: 0 250px;
  }
}

.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after,.clearfix:before {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}