@use './config.scss' as *;

body {
  background-color: $colorN;
}

.container{
  position: relative;
  width: 1226px;
  margin: 0 auto;
  background-color: $colorG;
}

.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after,.clearfix:before {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}